
@using Blog.ViewMoldels.Home;
@model Blog.ViewMoldels.Home.HomeIndexViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-9">
        <div class="text-center row">
            <div class="card-group">
               @foreach (PostagemHomeIndex postagem in @Model.Postagens) {
                   <!-- TODO: link para postagem -->
                    <div class="col-12 col-sm-12 col-md-6">
                        <div class="card h-100 d-block">
                            <img class="card-img-top" src="@postagem.UrlCapa" alt="Card image cap">
                            <div class="card-body h-100">
                                <h5 class="card-title">@postagem.Titulo</h5>
                                <p class="card-text">@postagem.Texto</p>
                                <button type="button" class="btn btn-primary">Read more</button>
                                <p class="card-text"><small class="text-muted">@postagem.UltimaAtualizacaoFormatada</small></p>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="col-3">
        <h4 class="text-center">Latest Posts</h4>
        <ul class="list-group list-group-flush">
            <!-- TODO: adicionar link para perfil -->
            @foreach (PostagemHomeIndex postagem in @Model.Postagens){
                <li class="list-group-item"><a href="#">@postagem.Titulo - <em>@postagem.Autor.Nome</em></a></li>
            }
        </ul>

        <br />
        <h4 class="text-center">Most Popular Posts</h4>
        <ul class="list-group list-group-flush">
            <!-- TODO: adicionar link para postagem -->
            @foreach(PostagemMostPopularHomeIndex postagem in @Model.PopularPosts)
            {
                <li class="list-group-item"><a href="#">@postagem.Titulo - <em>@postagem.Autor.Nome</em></a></li>
            }
        </ul>
    </div>
</div>
